.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}

.progress {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.progress-container {
    width: 210px;
    padding: 5px;
    background-color: silver;
    border-radius: 0.75rem;
}

.progress-bar {
    background-color: black;
    height: 4px;
    border-radius: 0.2rem;
}

.btns {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}